<div class="search-block">
  <input type="text" id="myInput" #searchTerm (keyup)="searchChanged(searchTerm.value)" placeholder="Search by name...">
</div>
<div class="search-results">
  <p *ngIf="!users" class="search-results__no-results">
    No matches found
  </p>
  <div *ngIf="users">
    <ul *ngFor="let user of users">
      <app-user [user]="user"></app-user>
    </ul>
    <button class="more-results"
      *ngIf="nextPageUrl"
      (click)="more()"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      [immediateCheck]="true"
      (scrolled)="more()">
      More results
    </button>
  </div>
</div>
