.search-block {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.search-results {
  padding-top: 40px;
}

.search-results__no-results {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}
