.user {
  vertical-align: middle;
}

.user__avatar {
  display: inline-block;
  vertical-align: middle;
}
.user__avatar img {
  border-radius: 32px;
  width: 64px;
  height: 64px;
}

.user__info {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.user__id {
  color: #aaa;
  font-size: 14px;
}
